out_prefix copd
vcf_file "/projects/browning/brwnlab/kelsey/spurious_assoc/copd/vcf/filtered_freeze5_chr .vcf.gz"
gds_file "/projects/browning/brwnlab/kelsey/spurious_assoc/copd/gds/filtered_freeze5_chr .gds"
merged_gds_file "/projects/browning/brwnlab/kelsey/spurious_assoc/copd/gds/filtered_freeze5.gds"
