out_prefix "prune"
gds_file "/projects/browning/brwnlab/kelsey/spurious_assoc/copd/gds/filtered_freeze5.gds"
subset_gds_file "/projects/browning/brwnlab/kelsey/spurious_assoc/copd/gds/copd_pruned.gds"
autosome_only "TRUE"
ld_r_threshold "0.32"
ld_win_size "10"
maf_threshold "0.01"
missing_threshold "0.01"
exclude_pca_corr "TRUE"
genome_build "hg38"
