config_prefix config/EUR_prune_FALSE_1_0_0.01
gds_file /projects/browning/brwnlab/kelsey/spurious_assoc/copd/gds/filtered_freeze5.gds
log_prefix log/EUR_prune_FALSE_1_0_0.01
exclude_pca_corr FALSE
ld_win_size 0
plots_prefix plots/EUR_prune_FALSE_1_0_0.01
out_prefix plots/EUR_prune_FALSE_1_0_0.01_snprelate_load
data_prefix data/EUR_prune_FALSE_1_0_0.01
genome_build hg38
ld_r_threshold 1
maf_threshold 0.01
sample_include_file /projects/browning/brwnlab/kelsey/spurious_assoc/copd/admixture_proportions/EUR_admixture_unsup_K2.RData
load_file data/EUR_prune_FALSE_1_0_0.01_snprelate_load.RData
