config_prefix config/prune_FALSE_1_0_0.01
gds_file /projects/browning/brwnlab/kelsey/spurious_assoc/jhs/gds/jhs.gds
log_prefix log/prune_FALSE_1_0_0.01
chromosomes "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22"
exclude_pca_corr FALSE
ld_win_size 0
plots_prefix plots/prune_FALSE_1_0_0.01
out_prefix plots/prune_FALSE_1_0_0.01_corr
corr_file "data/prune_FALSE_1_0_0.01_snprelate_corr_chr .gds"
data_prefix data/prune_FALSE_1_0_0.01
genome_build hg19
ld_r_threshold 1
maf_threshold 0.01
sample_include_file /projects/browning/brwnlab/kelsey/spurious_assoc/jhs/admixture/aa_ids.RData
